.title {
  margin: 80px 16% 0;
  border: 1px solid black;
  width: 50vw;
}

.booklist {
  margin: 40px 16% 0;
  border: 1px solid black;
  height: 50vh;
  width: 50vw;
}

form {
  margin-top: 24px;
}
